body {
	color: black;
	background: #f3f0e8;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
    font-family: IBM Plex Sans, Roboto, sans-serif;
}

h1 {
	color: black;
    font-family: IBM Plex Sans, Roboto, sans-serif;
	text-align:left;
    word-spacing:5px;
}

ul {

}

ul li {

}

ul li a {

}
