body {
	color: lightyellow;
	background: linen;

	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}


h1 {
	color: crimson;
}

h1 {
	text-align: center;
}

h2 {
	color: navy;
}

h2 {
	text-align: center;
}

p {
	color: royalblue;
}
