body {
  background-color: #16161D;/*#f2ecbc;*/
  color: gray;
}

::selection {
  background-color: #c7d2fe;
}

.image {
  left: 25%;;
  border-radius: 0.25rem;
  background-color: white;
  padding: 0.4%;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.nav {
  position: fixed;
  right: 0px;
  border-radius: 0.25rem;
  border: 1px solid #ddd;
  background-color: white;
  padding: 0.25rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.table-of-contents {
  position: fixed;
  right: 0px;
  border-radius: var(--radius);
  border: 1px solid var(--border-color);
  background-color: var(--white);
  padding: 0.25rem;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  padding-left: 8px;
  padding-right: 16px;
}
.table-of-contents h5 {
  font-weight: 600;
  padding-right: 1px;
  padding-left: 1px;
}
.table-of-contents ul {
  border-radius: 1rem;
  overflow: hidden;
}
.table-of-contents li {
  list-style-type: none;
  padding-bottom: 8px;
  padding-top: 8px;
}
.table-of-contents a {
  text-decoration: none;
  color: black;
}
.table-of-contents a:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 8px;
}
.table-of-contents #notes:hover {
  text-decoration-color: #A6B3DF;
}
.table-of-contents #photography:hover {
  text-decoration-color: #99e6ab;
}
.table-of-contents #poetry:hover {
  text-decoration-color: #bc693d;
}


.tab {
  overflow: hidden;
  border: 1px solid #a09cac;
}
button {
  font-family: 'Libertinus Serif', serif;
}
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  transition: 0.3s;
  border-right: 1px solid #a09cac;
  color: #5d57a3;/*Alightslategray;*/
  padding: 7px 7px;
  font-size: 17px;

}
.tabcontent {
  padding: 6px 12px;
  border: 1px solid #a09cac;
  border-top: none;
}


.footer {
  display: flex;
  flex: auto;
  align-items: center;
  justify-content: center;
  padding: 16px;
}
.footer p {
  justify-content: space-between;
  font-size: 16px;
  line-height: 20px;
  color: #525252;
}
.footer img {
  width: 16px;
}
.footer #linkedin {
  opacity: 70%;
}
.footer #octicon {
  opacity: 80%;
}
.footer a {
  text-decoration: none;
  color: #525252;
}
.footer a:hover {
  text-decoration: underline;
  text-decoration-color: #60a5fa;
  text-underline-offset: 3px;
  transition: color 0.3s;
  color: black;
}
