@import "./colors.css";
@import "/home/.cache/colors.css";

html {
    font-family: 'Iosevka', monospace;
    background-color: var(--background);
    color: var(--foreground);
}

.box {
    font-size: x-large;
    width: 1400px;
    max-width: 600px;
    right: 50%;
    bottom: 50%;
    transform: translate(50%, 50%);
    position: absolute;
}

.categories {
    float: left;
    margin 0;
    width: 20%;
    text-align: left;
}

.items {
    float: left;
    margin 0;
    width: 80%;
    text-align: left;
}

a {
    text-decoration: none;
}

a:link {
    color: var(--foreground);
}

a:hover {
    font-weight: 700;
}

a:visited {
    color: var(--foreground);
}

.cat {
    font-weight: 700;
}
