html {
    background-color: #504A44;
    background-image: url("https://live.staticflickr.com/2765/4357276752_e0c3dd7f23_b.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
}

body {
    color: white;
    background: #20211F;
    width: 1000px;
    max-width: 90%; 
    margin: 25px auto 25px auto;
    padding: 30px;
    border: solid #504A44 3px;
    font-family: monospace;
    font-size: xx-large;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.7s;
}

body:hover {
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.7);  
}

p {
    margin: 10px 0 0 0;
}

h3 {
    text-align: center;
}

h4 {
    padding:0.5px;
}

a {
    color: #55bdfd;
    text-decoration: none;
}

@import "./colors.css";
@import "/home/.cache/colors.css";

a:link {
    color: var(--foreground);
}

a:hover {
    font-weight: 700;
}

a:visited {
    color: var(--foreground);
}

.cat {
    font-weight: 700;
}
