---
layout: default
title: projects
---

# Projects

## Cumbancha

``HTML`` ``Vanilla CSS``

[Website](https://rodrigodecuir.github.io/cumbancha), [GitHub](https://github.com/rodrigodecuir/cumbancha)

A restaurant website made with HTML and Vanilla CSS.
<!--

col 1

Project_name > Month year
Tags

Description.

Links: GitHub, Website

col 2

image
-->

