---
layout: fancy
title: notes
---

### 💭 Writing

<!--* [School, Life](notes/w-02)-->
* [On Taking Portraits](notes/w-01)
<br/><br/>

<!-- switch to home
### ☘️ Misc

Non-STEM interests:

* [Photography](https://decuir.neocities.org/)
* Swimming
* Working Out
* Clothing
* Flowers
* Poetry
-->
