@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Manrope:wght@400;600&family=Montserrat+Alternates&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	::selection {
		@apply bg-neutral-200;
	}
}

@layer components {
	.layout-md {
		@apply mx-auto max-w-screen-lg px-4;
	}
	.link {
		@apply underline decoration-neutral-400 underline-offset-[3px];
		@apply transition-colors hover:text-black hover:decoration-blue-400;
	}
	.manrope {
		@apply text-xl;
		font-family: 'Manrope', sans-serif;
		font-weight: 400;
	}
	.montserrat {
		@apply pb-6 text-3xl;
		font-family: 'Montserrat Alternates', sans-serif;
		font-weight: 400;
	}
	.nav {
		@apply fixed right-[0px] rounded border bg-white p-1 shadow-md;
	}
	.index {
		@apply fixed rounded border bg-white p-1 shadow-md;
	}
	.image {
		@apply fixed left-1/4 rounded border bg-white p-[.4%] shadow-md;
	}
}
